<DOCTYPE html>
<head>
    <title></title>
    <script src="https://kit.fontawesome.com/3d9cbed023.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family:sans-serif;
        }
        div, form, label, input, textarea {
            display: block;
        }
        input, textarea {
            width: 100%;
            padding: 15px;
            font-family: sans-serif;
            font-size: 13px;
            margin: 10px auto; 
            border: #e3e3e3 solid 1px;
        }
        ul, li {
            margin: 0;
            padding: 0;
        }
        button {
            display: inline-block;
            padding: 10px 15px;
            font-family: sans-serif;
            font-size: 13px;
            border: #e3e3e3 solid 1px;
        }
        .button {
            background: #e3e3e3;
        }
        .button.blue{
            background:dodgerblue;
            color: white;
        }
        .button.green {
            background: limegreen;
            color: white;
        }
        .button-container {
            text-align: right;
        }
        .container {
            width: 600px;
            margin: 200px auto;
            background:#f7f7f7;
            padding: 15px;
            border:#e3e3e3 solid 1px;
        }
        header {
            text-align: center;
            background:dodgerblue;
            color: white;
            padding:25px;
            margin-top: -15px;
            margin-left: -15px;
            margin-right: -15px;
        }
        nav {
            text-align: center;
        }
        nav li {
            list-style: none;
            display: inline-block;
            padding: 15px 30px;
        }

        .nav-label {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
        .circle {
            padding: 15px;
            border-radius: 100px;
            width: 20px;
            height: 20px;
            color: white;
            display: inline-block;
        }
        .circle-green {
            background: limegreen;
        }
        .circle-blue {
            background: mediumblue;
        }
        .thumbnails-container {
            width: 100%;
            text-align: center;
        }
        .thumbnails-container li{
            list-style: none;
            display: inline-block;
            padding: 5px;
        }
        .thumbnails-container li img {
            width: 100px;
            border-radius: 5px;
        }
        
        footer {
            text-align: center;
            background: gray;
            color: white;
            padding: 15px;
            margin-bottom: -15px;
            margin-left: -15px;
            margin-right: -15px;
        }
        
    </style>
</head>
<body>
    <!-- end of container -->
    <div class="container">
        <header>
            <h1>TUITT Coding Bootcamp</h1>   
        </header>

        <nav>
            <ul>
                <li>
                    <i class="fas fa-tachometer-alt"></i> 
                    <strong>Dashboard</strong>
                </li>
                <li>
                    <i class="circle circle-green far fa-file"></i> 
                    <div class="nav-label">5 <br>Posts</div>
                </li>
                <li>
                    <i class="circle circle-blue far fa-images"></i>
                    <div class="nav-label">13 <br>Images</div>
                </li>
            </ul>
        </nav>
        
        
        <form>
            <div>
                <label>
                    <i class="fas fa-plus-circle"></i>
                    <strong>New Post</strong>
                </label>
                <input class="input" type="text" placeholder="Enter your post title" >
                <textarea class="textarea" rows="4" placeholder="Enter your post content here" ></textarea>
                
                <div class="button-container">
                    <button class="button blue" type="submit">Publish</button>
                </div>
            </div>

            <div>
                <label>
                    <p><i class="fas fa-cloud-upload-alt"></i>
                    Upload Image</p>
                </label>

                <div class="thumbnails-container">
                    <ul>
                        <li><img src="spiderman.jpg" /></li>
                        <li><img src="spiderman.jpg" /></li>
                        <li><img src="spiderman.jpg" /></li>
                        <li><img src="spiderman.jpg" /></li>
                        <li><img src="spiderman.jpg" /></li>
                    </ul>
                </div>
                
                <div class="button-container">
                    <button class="button green" type="">Upload</button>
                    <button class="button blue" type="file">Browse</button>
                </div>
            </div>
        </form>

        <footer>
            <p>Tuitt Coding Bootcamp 2020</p>
        </footer>

    </div>
    <!-- end of container -->
</body>

</html>